@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
.App {
  text-align: center;
  font-family: 'Anton', sans-serif;
  color: whitesmoke;
}

.btn{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

